.cat-g {
    letter-spacing: -.31em;
    *letter-spacing: normal;
    *word-spacing: -.43em;
    text-rendering: optimizespeed;
    font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
    -ms-align-content: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start
}

.opera-only:-o-prefocus,
.cat-g {
    word-spacing: -.43em
}

.cat-c {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto
}

.cat-g [class *="cat-c"] {
    font-family: sans-serif
}
.cat-c-1,
.cat-c-1-1,
.cat-c-1-2,
.cat-c-1-3,
.cat-c-2-3,
.cat-c-1-4,
.cat-c-3-4,
.cat-c-1-6,
.cat-c-5-6,
.cat-c-1-12,
.cat-c-2-12,
.cat-c-3-12,
.cat-c-4-12,
.cat-c-5-12,
.cat-c-6-12,
.cat-c-7-12,
.cat-c-8-12,
.cat-c-9-12,
.cat-c-10-12,
.cat-c-11-12,
.cat-c-12-12 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.cat-c-1-12 {
    width: 8.3333%;
    *width: 8.3023%;
}

.cat-c-1-6,
.cat-c-2-12 {
    width: 16.6667%;
    *width: 16.6357%;
}

.cat-c-1-4,
.cat-c-3-12 {
    width: 25%;
    *width: 24.9690%;
}

.cat-c-1-3,
.cat-c-4-12 {
    width: 33.3333%;
    *width: 33.3023%;
}

.cat-c-5-12 {
    width: 41.6667%;
    *width: 41.6357%;
}

.cat-c-1-2,
.cat-c-6-12 {
    width: 50%;
    *width: 49.9690%;
}

.cat-c-7-12 {
    width: 58.3333%;
    *width: 58.3023%;
}

.cat-c-2-3,
.cat-c-8-12 {
    width: 66.6667%;
    *width: 66.6357%;
}

.cat-c-3-4,
.cat-c-9-12 {
    width: 75%;
    *width: 74.9690%;
}

.cat-c-5-6,
.cat-c-10-12 {
    width: 83.3333%;
    *width: 83.3023%;
}

.cat-c-11-12 {
    width: 91.6667%;
    *width: 91.6357%;
}

.cat-c-1,
.cat-c-1-1,
.cat-c-12-12 {
    width: 100%;
}

@media screen and (min-width: 35.5em) {
    .cat-c-sm-1,
    .cat-c-sm-1-1,
    .cat-c-sm-1-2,
    .cat-c-sm-1-3,
    .cat-c-sm-2-3,
    .cat-c-sm-1-4,
    .cat-c-sm-3-4,
    .cat-c-sm-1-6,
    .cat-c-sm-5-6,
    .cat-c-sm-1-12,
    .cat-c-sm-2-12,
    .cat-c-sm-3-12,
    .cat-c-sm-4-12,
    .cat-c-sm-5-12,
    .cat-c-sm-6-12,
    .cat-c-sm-7-12,
    .cat-c-sm-8-12,
    .cat-c-sm-9-12,
    .cat-c-sm-10-12,
    .cat-c-sm-11-12,
    .cat-c-sm-12-12 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .cat-c-sm-1-12 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .cat-c-sm-1-6,
    .cat-c-sm-2-12 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .cat-c-sm-1-4,
    .cat-c-sm-3-12 {
        width: 25%;
        *width: 24.9690%;
    }

    .cat-c-sm-1-3,
    .cat-c-sm-4-12 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .cat-c-sm-5-12 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .cat-c-sm-1-2,
    .cat-c-sm-6-12 {
        width: 50%;
        *width: 49.9690%;
    }

    .cat-c-sm-7-12 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .cat-c-sm-2-3,
    .cat-c-sm-8-12 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .cat-c-sm-3-4,
    .cat-c-sm-9-12 {
        width: 75%;
        *width: 74.9690%;
    }

    .cat-c-sm-5-6,
    .cat-c-sm-10-12 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .cat-c-sm-11-12 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .cat-c-sm-1,
    .cat-c-sm-1-1,
    .cat-c-sm-12-12 {
        width: 100%;
    }
}

@media screen and (min-width: 48em) {
    .cat-c-md-1,
    .cat-c-md-1-1,
    .cat-c-md-1-2,
    .cat-c-md-1-3,
    .cat-c-md-2-3,
    .cat-c-md-1-4,
    .cat-c-md-3-4,
    .cat-c-md-1-6,
    .cat-c-md-5-6,
    .cat-c-md-1-12,
    .cat-c-md-2-12,
    .cat-c-md-3-12,
    .cat-c-md-4-12,
    .cat-c-md-5-12,
    .cat-c-md-6-12,
    .cat-c-md-7-12,
    .cat-c-md-8-12,
    .cat-c-md-9-12,
    .cat-c-md-10-12,
    .cat-c-md-11-12,
    .cat-c-md-12-12 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .cat-c-md-1-12 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .cat-c-md-1-6,
    .cat-c-md-2-12 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .cat-c-md-1-4,
    .cat-c-md-3-12 {
        width: 25%;
        *width: 24.9690%;
    }

    .cat-c-md-1-3,
    .cat-c-md-4-12 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .cat-c-md-5-12 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .cat-c-md-1-2,
    .cat-c-md-6-12 {
        width: 50%;
        *width: 49.9690%;
    }

    .cat-c-md-7-12 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .cat-c-md-2-3,
    .cat-c-md-8-12 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .cat-c-md-3-4,
    .cat-c-md-9-12 {
        width: 75%;
        *width: 74.9690%;
    }

    .cat-c-md-5-6,
    .cat-c-md-10-12 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .cat-c-md-11-12 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .cat-c-md-1,
    .cat-c-md-1-1,
    .cat-c-md-12-12 {
        width: 100%;
    }
}

@media screen and (min-width: 64em) {
    .cat-c-lg-1,
    .cat-c-lg-1-1,
    .cat-c-lg-1-2,
    .cat-c-lg-1-3,
    .cat-c-lg-2-3,
    .cat-c-lg-1-4,
    .cat-c-lg-3-4,
    .cat-c-lg-1-6,
    .cat-c-lg-5-6,
    .cat-c-lg-1-12,
    .cat-c-lg-2-12,
    .cat-c-lg-3-12,
    .cat-c-lg-4-12,
    .cat-c-lg-5-12,
    .cat-c-lg-6-12,
    .cat-c-lg-7-12,
    .cat-c-lg-8-12,
    .cat-c-lg-9-12,
    .cat-c-lg-10-12,
    .cat-c-lg-11-12,
    .cat-c-lg-12-12 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .cat-c-lg-1-12 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .cat-c-lg-1-6,
    .cat-c-lg-2-12 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .cat-c-lg-1-4,
    .cat-c-lg-3-12 {
        width: 25%;
        *width: 24.9690%;
    }

    .cat-c-lg-1-3,
    .cat-c-lg-4-12 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .cat-c-lg-5-12 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .cat-c-lg-1-2,
    .cat-c-lg-6-12 {
        width: 50%;
        *width: 49.9690%;
    }

    .cat-c-lg-7-12 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .cat-c-lg-2-3,
    .cat-c-lg-8-12 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .cat-c-lg-3-4,
    .cat-c-lg-9-12 {
        width: 75%;
        *width: 74.9690%;
    }

    .cat-c-lg-5-6,
    .cat-c-lg-10-12 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .cat-c-lg-11-12 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .cat-c-lg-1,
    .cat-c-lg-1-1,
    .cat-c-lg-12-12 {
        width: 100%;
    }
}

@media screen and (min-width: 80em) {
    .cat-c-xl-1,
    .cat-c-xl-1-1,
    .cat-c-xl-1-2,
    .cat-c-xl-1-3,
    .cat-c-xl-2-3,
    .cat-c-xl-1-4,
    .cat-c-xl-3-4,
    .cat-c-xl-1-6,
    .cat-c-xl-5-6,
    .cat-c-xl-1-12,
    .cat-c-xl-2-12,
    .cat-c-xl-3-12,
    .cat-c-xl-4-12,
    .cat-c-xl-5-12,
    .cat-c-xl-6-12,
    .cat-c-xl-7-12,
    .cat-c-xl-8-12,
    .cat-c-xl-9-12,
    .cat-c-xl-10-12,
    .cat-c-xl-11-12,
    .cat-c-xl-12-12 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .cat-c-xl-1-12 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .cat-c-xl-1-6,
    .cat-c-xl-2-12 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .cat-c-xl-1-4,
    .cat-c-xl-3-12 {
        width: 25%;
        *width: 24.9690%;
    }

    .cat-c-xl-1-3,
    .cat-c-xl-4-12 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .cat-c-xl-5-12 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .cat-c-xl-1-2,
    .cat-c-xl-6-12 {
        width: 50%;
        *width: 49.9690%;
    }

    .cat-c-xl-7-12 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .cat-c-xl-2-3,
    .cat-c-xl-8-12 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .cat-c-xl-3-4,
    .cat-c-xl-9-12 {
        width: 75%;
        *width: 74.9690%;
    }

    .cat-c-xl-5-6,
    .cat-c-xl-10-12 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .cat-c-xl-11-12 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .cat-c-xl-1,
    .cat-c-xl-1-1,
    .cat-c-xl-12-12 {
        width: 100%;
    }
}