html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
details,
section,
summary,
aside,
main,
menu,
nav,
figcaption,
figure,
footer,
header,
hgroup {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
b,
strong {
  font-weight: bold;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
h2 {
  font-size: 1.8rem;
}
color cat-white {
  font-weight: regular;
}
h3 {
  font-size: 1.8rem;
  color: #fff;
  font-weight: lighter;
}
h4 {
  font-size: 1.4rem;
  color: #404040;
  font-weight: lighter;
}
h5 {
  font-size: 1.2rem;
  color: #737373;
  font-weight: lighter;
}
h6 {
  font-size: 1rem;
  color: #737373;
  font-weight: lighter;
}
html {
  font-size: 62.5%;
}
.cat {
  font-family: "Helvetica Neue", "Helvetica", "WenQuanYi Micro Hei", "Microsoft YaHei", Arial, sans-serif;
  color: #404040;
  background: #eee;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.cat-g {
  text-rendering: optimizespeed;
  font-family: "Helvetica Neue", "Helvetica", "WenQuanYi Micro Hei", "Microsoft YaHei", Arial, sans-serif;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  -ms-align-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
.cat-u-1,
.cat-u-1-1,
.cat-u-1-2,
.cat-u-1-3,
.cat-u-2-3,
.cat-u-1-4,
.cat-u-3-4,
.cat-u-1-6,
.cat-u-5-6,
.cat-u-1-12,
.cat-u-2-12,
.cat-u-3-12,
.cat-u-4-12,
.cat-u-5-12,
.cat-u-6-12,
.cat-u-7-12,
.cat-u-8-12,
.cat-u-9-12,
.cat-u-10-12,
.cat-u-11-12,
.cat-u-12-12 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}
.cat-u-1-12 {
  width: 8.3333%;
  *width: 8.3023%;
}
.cat-u-1-6,
.cat-u-2-12 {
  width: 16.6667%;
  *width: 16.6357%;
}
.cat-u-1-4,
.cat-u-3-12 {
  width: 25%;
  *width: 24.969%;
}
.cat-u-1-3,
.cat-u-4-12 {
  width: 33.3333%;
  *width: 33.3023%;
}
.cat-u-5-12 {
  width: 41.6667%;
  *width: 41.6357%;
}
.cat-u-1-2,
.cat-u-6-12 {
  width: 50%;
  *width: 49.969%;
}
.cat-u-7-12 {
  width: 58.3333%;
  *width: 58.3023%;
}
.cat-u-2-3,
.cat-u-8-12 {
  width: 66.6667%;
  *width: 66.6357%;
}
.cat-u-3-4,
.cat-u-9-12 {
  width: 75%;
  *width: 74.969%;
}
.cat-u-5-6,
.cat-u-10-12 {
  width: 83.3333%;
  *width: 83.3023%;
}
.cat-u-11-12 {
  width: 91.6667%;
  *width: 91.6357%;
}
.cat-u-1,
.cat-u-1-1,
.cat-u-12-12 {
  width: 100%;
}
@media screen and (min-width: 35.5em) {
  .cat-u-sm-1,
  .cat-u-sm-1-1,
  .cat-u-sm-1-2,
  .cat-u-sm-1-3,
  .cat-u-sm-2-3,
  .cat-u-sm-1-4,
  .cat-u-sm-3-4,
  .cat-u-sm-1-6,
  .cat-u-sm-5-6,
  .cat-u-sm-1-12,
  .cat-u-sm-2-12,
  .cat-u-sm-3-12,
  .cat-u-sm-4-12,
  .cat-u-sm-5-12,
  .cat-u-sm-6-12,
  .cat-u-sm-7-12,
  .cat-u-sm-8-12,
  .cat-u-sm-9-12,
  .cat-u-sm-10-12,
  .cat-u-sm-11-12,
  .cat-u-sm-12-12 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .cat-u-sm-1-12 {
    width: 8.3333%;
    *width: 8.3023%;
  }
  .cat-u-sm-1-6,
  .cat-u-sm-2-12 {
    width: 16.6667%;
    *width: 16.6357%;
  }
  .cat-u-sm-1-4,
  .cat-u-sm-3-12 {
    width: 25%;
    *width: 24.969%;
  }
  .cat-u-sm-1-3,
  .cat-u-sm-4-12 {
    width: 33.3333%;
    *width: 33.3023%;
  }
  .cat-u-sm-5-12 {
    width: 41.6667%;
    *width: 41.6357%;
  }
  .cat-u-sm-1-2,
  .cat-u-sm-6-12 {
    width: 50%;
    *width: 49.969%;
  }
  .cat-u-sm-7-12 {
    width: 58.3333%;
    *width: 58.3023%;
  }
  .cat-u-sm-2-3,
  .cat-u-sm-8-12 {
    width: 66.6667%;
    *width: 66.6357%;
  }
  .cat-u-sm-3-4,
  .cat-u-sm-9-12 {
    width: 75%;
    *width: 74.969%;
  }
  .cat-u-sm-5-6,
  .cat-u-sm-10-12 {
    width: 83.3333%;
    *width: 83.3023%;
  }
  .cat-u-sm-11-12 {
    width: 91.6667%;
    *width: 91.6357%;
  }
  .cat-u-sm-1,
  .cat-u-sm-1-1,
  .cat-u-sm-12-12 {
    width: 100%;
  }
}
@media screen and (min-width: 48em) {
  .cat-u-md-1,
  .cat-u-md-1-1,
  .cat-u-md-1-2,
  .cat-u-md-1-3,
  .cat-u-md-2-3,
  .cat-u-md-1-4,
  .cat-u-md-3-4,
  .cat-u-md-1-6,
  .cat-u-md-5-6,
  .cat-u-md-1-12,
  .cat-u-md-2-12,
  .cat-u-md-3-12,
  .cat-u-md-4-12,
  .cat-u-md-5-12,
  .cat-u-md-6-12,
  .cat-u-md-7-12,
  .cat-u-md-8-12,
  .cat-u-md-9-12,
  .cat-u-md-10-12,
  .cat-u-md-11-12,
  .cat-u-md-12-12 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .cat-u-md-1-12 {
    width: 8.3333%;
    *width: 8.3023%;
  }
  .cat-u-md-1-6,
  .cat-u-md-2-12 {
    width: 16.6667%;
    *width: 16.6357%;
  }
  .cat-u-md-1-4,
  .cat-u-md-3-12 {
    width: 25%;
    *width: 24.969%;
  }
  .cat-u-md-1-3,
  .cat-u-md-4-12 {
    width: 33.3333%;
    *width: 33.3023%;
  }
  .cat-u-md-5-12 {
    width: 41.6667%;
    *width: 41.6357%;
  }
  .cat-u-md-1-2,
  .cat-u-md-6-12 {
    width: 50%;
    *width: 49.969%;
  }
  .cat-u-md-7-12 {
    width: 58.3333%;
    *width: 58.3023%;
  }
  .cat-u-md-2-3,
  .cat-u-md-8-12 {
    width: 66.6667%;
    *width: 66.6357%;
  }
  .cat-u-md-3-4,
  .cat-u-md-9-12 {
    width: 75%;
    *width: 74.969%;
  }
  .cat-u-md-5-6,
  .cat-u-md-10-12 {
    width: 83.3333%;
    *width: 83.3023%;
  }
  .cat-u-md-11-12 {
    width: 91.6667%;
    *width: 91.6357%;
  }
  .cat-u-md-1,
  .cat-u-md-1-1,
  .cat-u-md-12-12 {
    width: 100%;
  }
}
@media screen and (min-width: 64em) {
  .cat-u-lg-1,
  .cat-u-lg-1-1,
  .cat-u-lg-1-2,
  .cat-u-lg-1-3,
  .cat-u-lg-2-3,
  .cat-u-lg-1-4,
  .cat-u-lg-3-4,
  .cat-u-lg-1-6,
  .cat-u-lg-5-6,
  .cat-u-lg-1-12,
  .cat-u-lg-2-12,
  .cat-u-lg-3-12,
  .cat-u-lg-4-12,
  .cat-u-lg-5-12,
  .cat-u-lg-6-12,
  .cat-u-lg-7-12,
  .cat-u-lg-8-12,
  .cat-u-lg-9-12,
  .cat-u-lg-10-12,
  .cat-u-lg-11-12,
  .cat-u-lg-12-12 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .cat-u-lg-1-12 {
    width: 8.3333%;
    *width: 8.3023%;
  }
  .cat-u-lg-1-6,
  .cat-u-lg-2-12 {
    width: 16.6667%;
    *width: 16.6357%;
  }
  .cat-u-lg-1-4,
  .cat-u-lg-3-12 {
    width: 25%;
    *width: 24.969%;
  }
  .cat-u-lg-1-3,
  .cat-u-lg-4-12 {
    width: 33.3333%;
    *width: 33.3023%;
  }
  .cat-u-lg-5-12 {
    width: 41.6667%;
    *width: 41.6357%;
  }
  .cat-u-lg-1-2,
  .cat-u-lg-6-12 {
    width: 50%;
    *width: 49.969%;
  }
  .cat-u-lg-7-12 {
    width: 58.3333%;
    *width: 58.3023%;
  }
  .cat-u-lg-2-3,
  .cat-u-lg-8-12 {
    width: 66.6667%;
    *width: 66.6357%;
  }
  .cat-u-lg-3-4,
  .cat-u-lg-9-12 {
    width: 75%;
    *width: 74.969%;
  }
  .cat-u-lg-5-6,
  .cat-u-lg-10-12 {
    width: 83.3333%;
    *width: 83.3023%;
  }
  .cat-u-lg-11-12 {
    width: 91.6667%;
    *width: 91.6357%;
  }
  .cat-u-lg-1,
  .cat-u-lg-1-1,
  .cat-u-lg-12-12 {
    width: 100%;
  }
}
@media screen and (min-width: 80em) {
  .cat-u-xl-1,
  .cat-u-xl-1-1,
  .cat-u-xl-1-2,
  .cat-u-xl-1-3,
  .cat-u-xl-2-3,
  .cat-u-xl-1-4,
  .cat-u-xl-3-4,
  .cat-u-xl-1-6,
  .cat-u-xl-5-6,
  .cat-u-xl-1-12,
  .cat-u-xl-2-12,
  .cat-u-xl-3-12,
  .cat-u-xl-4-12,
  .cat-u-xl-5-12,
  .cat-u-xl-6-12,
  .cat-u-xl-7-12,
  .cat-u-xl-8-12,
  .cat-u-xl-9-12,
  .cat-u-xl-10-12,
  .cat-u-xl-11-12,
  .cat-u-xl-12-12 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .cat-u-xl-1-12 {
    width: 8.3333%;
    *width: 8.3023%;
  }
  .cat-u-xl-1-6,
  .cat-u-xl-2-12 {
    width: 16.6667%;
    *width: 16.6357%;
  }
  .cat-u-xl-1-4,
  .cat-u-xl-3-12 {
    width: 25%;
    *width: 24.969%;
  }
  .cat-u-xl-1-3,
  .cat-u-xl-4-12 {
    width: 33.3333%;
    *width: 33.3023%;
  }
  .cat-u-xl-5-12 {
    width: 41.6667%;
    *width: 41.6357%;
  }
  .cat-u-xl-1-2,
  .cat-u-xl-6-12 {
    width: 50%;
    *width: 49.969%;
  }
  .cat-u-xl-7-12 {
    width: 58.3333%;
    *width: 58.3023%;
  }
  .cat-u-xl-2-3,
  .cat-u-xl-8-12 {
    width: 66.6667%;
    *width: 66.6357%;
  }
  .cat-u-xl-3-4,
  .cat-u-xl-9-12 {
    width: 75%;
    *width: 74.969%;
  }
  .cat-u-xl-5-6,
  .cat-u-xl-10-12 {
    width: 83.3333%;
    *width: 83.3023%;
  }
  .cat-u-xl-11-12 {
    width: 91.6667%;
    *width: 91.6357%;
  }
  .cat-u-xl-1,
  .cat-u-xl-1-1,
  .cat-u-xl-12-12 {
    width: 100%;
  }
}
.nav {
  width: 100%;
}
.nav ul,
.nav li {
  position: relative;
  display: inline-block;
}
.nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}
.nav li {
  font-size: 1.8rem;
  color: #fff;
  font-weight: lighter;
}
.nav a {
  text-decoration: none;
  white-space: nowrap;
  font-size: 1.8rem;
  color: #fff;
  font-weight: lighter;
}
.fix {
  position: fixed;
  top: 0;
  left: 0;
}
.cat .button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  font-family: "Helvetica Neue", "Helvetica", "WenQuanYi Micro Hei", "Microsoft YaHei", Arial, sans-serif;
  font-size: 100%;
  text-decoration: none;
}
.cat .button:hover {
  color: #fff;
  text-decoration: none;
}
.cat .button:hover,
.cat .button:focus {
  background: #399dd8;
}
.cat .button:active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.2);
  box-shadow: inset 0 1px 4px rgba(0,0,0,0.2);
}
.cat table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: hide;
  margin: auto;
}
.cat td {
  padding-right: 85px;
  font-size: 14px;
  text-align: left;
  vertical-align: bottom;
}
.cat thead td {
  border-bottom: 0;
  color: #5faae8;
  vertical-align: top;
}
.cat tbody td {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px dotted #989898;
}
.cat tr td:last-child {
  padding-right: 0px;
}
.cat tbody tr:last-child td {
  border-bottom: 0;
}
.cat .card {
  padding-bottom: 5.8rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background-color: #fff;
}
.cat .card-head {
  margin-bottom: 3rem;
  height: 4rem;
  line-height: 4rem;
  color: #fff;
  background-color: #5faae8;
  text-align: center;
  margin: auto;
}
.cat .card-pic {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: #e2e2e2;
}
.card-pic img {
  width: 270px;
  height: 100px;
}
