@import 'nib'
normalize-css()
@import 'base/base'
.cat
    @import 'base/font'
    @import 'base/caticon'
    @import 'base/color'
    @import 'base/cat-responsive'
    @import 'base/layout'
    @import 'base/button'
    @import 'base/table'
    @import 'base/form'
    @import 'base/card'
    @import 'base/gallery'
    @import 'components/navigation'
    @import 'components/banner'
    @import 'components/tab'
    @import 'components/tag'