.nav
    width 100%
    background-color cat-blue
    ul,
    li
        position relative
        display inline-block
    ul
        list-style none
        margin-left auto
        margin-right auto
    li
        font-size 1.8rem
        color cat-white
        font-weight lighter
        vertical-align middle
    a
        text-decoration none
        white-space nowrap
        font-size 1.8rem
        color cat-white
        font-weight lighter
.fix
    fixed top left