.tab
    ul,
    li
        position relative
        display inline-block
    ul
        display flex
        align-items center
        list-style none
        padding 0
        justify-content center
    li
        margin-left 2px
        margin-right 2px
        width 80px
        font-size 1.6rem
        color cat-white
        background cat-green
        font-weight lighter
        line-height 40px
        text-align center
        cursor default
        &:hover
            background cat-blue
        
    a
        text-decoration none
        white-space nowrap
        font-size 1.8rem
        color cat-white
        font-weight lighter
    .active
            margin-top 20px;