.tag
    ul,
    li
        position relative
        display inline-block
    ul
        display flex
        flex-flow column wrap
        list-style none
        width 79px
        margin 0
        padding 0
        justify-content center
    li
        margin-top 2px
        font-size 1.6rem
        color cat-white
        background cat-green
        font-weight lighter
        line-height 40px
        text-align center
        cursor default
    .title
        background cat-blue
    .active
        margin-left 2px
        margin-right -2px
    a
        text-decoration none
        white-space nowrap
        font-weight lighter
        color cat-white