.button
    display inline-block
    zoom 1
    line-height normal
    white-space nowrap
    text-align center
    vertical-align middle
    cursor pointer
    outline none
    font-family font-default
    font-size 100%
    text-decoration none
    box-shadow inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15)
    background: linear-gradient(to bottom, #fbfbfb, #e1e1e1)
    border 1px solid #d4d4d4
    height 32px
    line-height 30px
    color #666
    margin 0
    text-shadow 0 1px 1px white
    &:hover,
    &:focus,
    &:active,
    &:active
        text-decoration none
    &:hover,
    &:focus
        color #666
        background linear-gradient(to bottom, #fff, #dcdcdc)
    &:active
        box-shadow inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white
        text-shadow 0px 1px 0px rgba(255, 255, 255, 0.4)
        background #eee
        color #bbb
    &:focus
        outline none
    input,
    button
        height 34px
        cursor pointer
        appearance none
    .disabled,
    .disabled
        &:hover,
        &:focus,
        &:active,
        input,
        button
            box-shadow 0px 1px 2px rgba(0, 0, 0, 0.1)
            opacity 0.8
            background #eee
            border 1px solid #ddd
            text-shadow 0 1px 1px #fff;
            color #ccc
            cursor not-allowed
            appearance none
.button-wrap
    background linear-gradient(to bottom, #e3e3e3, #f2f2f2)
    border-radius 200px
    box-shadow inset 0px 1px 3px rgba(0, 0, 0, 0.04)
    padding 10px
    display inline-block
.button-flat
    box-shadow none
    transition-property background
    transition-duration 0.3s
    background #eee
    border none
    text-shadow none
    &:hover,
    &:focus
        background #fbfbfb
    &:active,
    transition-duration 0s
    background #eee
    color #bbb
    .disabled
        box-shadow none
.button-border
    box-shadow none
    transition-property all
    transition-duration 0.3s
    color #666
    border 2px solid #666
    background none
    text-shadow none
    &:hover,
    &:focus
        background none
        color gray
        border 2px solid gray
    &:active
        transition-duration 0s
        background none
        color #4d4d4d
        border 2px solid #4d4d4d
        .disabled
            box-shadow none
.button-circle
    border-radius 240px
    box-shadow inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2)
    width 120px
    line-height 120px
    height 120px
    padding 0px
    border-width 4px