.card
    padding-bottom 3.8rem
    margin-left 1.5rem
    margin-right 1.5rem
    background-color cat-white
    .card-head
        margin-bottom 30px
        height 40px
        line-height 40px
        color cat-white
        background-color cat-blue
        text-align center
        margin auto
    .card-pic
        margin-top 10px
        margin-left 10px
        margin-right 10px
        padding 10px
        text-align center
        background-color cat-gray
        img
            width 270px
            height 100px
    .blue
        background-color cat-blue
    .green
        background-color cat-green
        