.cat .card
    padding-bottom 5.8rem
    margin-left 1.5rem
    margin-right 1.5rem
    background-color cat-white
.cat .card-head
    margin-bottom 3rem
    height 4rem
    line-height 4rem
    color cat-white
    background-color cat-blue
    text-align center
    margin auto
.cat .card-pic
    margin-top 1rem
    margin-left 1rem
    margin-right 1rem
    padding 1rem
    text-align center
    background-color cat-gray
.card-pic img
    width 270px
    height 100px