.cat .card
    padding-bottom 58px
.cat .card-head
    margin-bottom 30px
    height 40px
    line-height 40px
    color cat-white
    background-color cat-blue
    p
        font-size 18px
        text-align center
        margin auto
.cat .card-pic
    padding 10px
    background-color cat-gray

.card-pic img
    width 270px
    height 100px