font-default = "Helvetica Neue", "Helvetica", "WenQuanYi Micro Hei", "Microsoft YaHei", Arial,sans-serif
font-serif = "Garamond", "Georgia", "Times New Roman", serif
font-mono = Monaco, Menlo, Consolas, "Courier New", monospace
@import 'color'
h1,
h2,
h3,
h4,
h5,
h6
    margin 0
h1
    font-size 3.6rem
h2
    font-size 2.8rem
    font-weight regular   
h3
    font-size 1.8rem
    font-weight lighter   
h4
    font-size 1.4rem
    font-weight lighter
    
h5
    font-size 1.4rem
    font-weight lighter
    
h6
    font-size 1.4rem
    font-weight lighter
    
p
    font-size 1.4rem
    color cat-grays
.serif{
    font-family font-serif
}