font-default = "Helvetica Neue", "Helvetica", "WenQuanYi Micro Hei", "Microsoft YaHei", Arial,sans-serif
font-serif = "Garamond", "Georgia", "Times New Roman", serif
font-mono = Monaco, Menlo, Consolas, "Courier New", monospace
@import 'color'
h2
    font-size 1.8rem
	color cat-white
    font-weight regular   
h3
    font-size 1.8rem
    color cat-white
    font-weight lighter   
h4
    font-size 1.4rem
    color cat-black
    font-weight lighter
    
h5
    font-size 1.2rem
    color cat-grays
    font-weight lighter
    
h6
    font-size 1rem
    color cat-grays
    font-weight lighter
    
