font-default = "Helvetica Neue", "Helvetica", "WenQuanYi Micro Hei", "Microsoft YaHei", Arial,sans-serif
font-serif = "Garamond", "Georgia", "Times New Roman", serif
font-mono = Monaco, Menlo, Consolas, "Courier New", monospace
@import 'color'
h2
    font-family font-default
    font-size 18px
	color cat-white
    font-weight regular
    
h3
    font-size 18px
    font-weight light