table
    background-color transparent
    border-collapse collapse
    border-spacing 0
    empty-cells hide
    margin auto
td
    padding-right 85px
    font-size 14px
    text-align left
    vertical-align bottom
thead td
    border-bottom 0
    color cat-blue
    vertical-align top 
tbody td
    padding-top 16px
    padding-bottom 16px
    border-bottom 1px dotted cat-dot
tr td:last-child
    padding-right 0px
tbody tr:last-child td
    border-bottom 0